.hero p {
    font-size: 19.2px;
    font-weight: 300;
    text-align: justify;
    color: #ffffff;
    opacity: 0.6;
    line-height: 1.6;
    margin-bottom: 9px;
}
.link {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 19.2px;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 6px;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.link::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../icons/link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
    vertical-align: baseline;
}

.link:hover {
    opacity: 1;
    color: #ffffff;
}

@media (max-width: 768px){
    .hero p{
        font-size: 16px;
    }
    .link {
        font-size: 16px;
    }
    .link::after {
        width: 13px;
        height: 13px;
    }
}
